@import '../../styles/variables';
@import '../../styles/mixins';

.input-wrapper {
  @include flex-column;
  gap: $spacing-xs;

  &__label {
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    color: $color-text;
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $color-border;
    border-radius: $border-radius-md;
    background: $color-white;
    transition: border-color $transition-fast;

    &:focus-within {
      border-color: $color-primary;
    }

    &--error {
      border-color: $color-error;
    }
  }

  &__icon {
    @include flex-center;
    padding: 0 $spacing-sm;
    color: $color-text-light;
  }

  &__input {
    flex: 1;
    padding: $spacing-sm $spacing-md;
    border: none;
    outline: none;
    font-size: $font-size-base;
    color: $color-text;
    background: transparent;

    &::placeholder {
      color: $color-text-light;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__error {
    font-size: 12px;
    color: $color-error;
    margin-top: -4px;
  }
}
